{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	
	{%block static %}
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
		<link rel="stylesheet" href="{% static 'css/estilo_index_login.css'%}">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	{%endblock%}
<title>
{% block title %}Document {%endblock%}
</title>

</head>
<body>
	{% block header%}
	{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  		<a class="navbar-brand" href="#">SEA</a>
		  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		    		<span class="navbar-toggler-icon"></span>
		  		</button>

		  		<li class="nav-item dropdown">
	              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">Flatly <span class="caret"></span></a>
	              <div class="dropdown-menu" aria-labelledby="download">
	                <a class="dropdown-item" href="https://jsfiddle.net/bootswatch/jmg3gykg/">Open in JSFiddle</a>
	                <div class="dropdown-divider"></div>
	                <a class="dropdown-item" href="../4/flatly/bootstrap.min.css">bootstrap.min.css</a>
	                <a class="dropdown-item" href="../4/flatly/bootstrap.css">bootstrap.css</a>
	                <div class="dropdown-divider"></div>
	                <a class="dropdown-item" href="../4/flatly/_variables.scss">_variables.scss</a>
	                <a class="dropdown-item" href="../4/flatly/_bootswatch.scss">_bootswatch.scss</a>
	              </div>
	            </li>
		  	</nav>
	{% endblock %}
	{%endblock%}
	{% block content%}
	{%endblock%}
	<script src="{% static 'js/jquery.min.js' %}"> </script>
	<script src="{% static 'js/jquery-3.1.1.min.js' %}"> </script>
	<script src="{% static 'js/bootstrap.min.js' %}"> </script>
</body>
</html>
